{{define "contentbox"}}
<div class="content-box w-100">
    <p class="content">{{ .Content }}</p>
    <div class="post-footer">
        <div class="post-info">
            <p>
                by {{ .User_id }} | {{ formatTime .Time }}
            </p>
        </div>
        <div class="post-feedback">
            <div class="feedback-item">
                <p>
                    {{ .Likes}}
                </p>
                <i class="bi bi-hand-thumbs-up" style="font-size: 1.5rem;"></i>
            </div>
            <div class="feedback-item">
                <p>
                    {{ .Dislikes}}
                </p>
                <i class="bi bi-hand-thumbs-down" style="font-size: 1.5rem;"></i>
            </div>
        </div>
    </div>
</div>
{{end}}