{{define "register"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to Knitterverse</title>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body class="text-center">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Knitterverse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/aboutus">About us</a>
                </div>
                <div class="navbar-nav nav-left d-flex">
                    <a class="btn btn-primary" href="/login" role="button">Log in</a>
                    <a class="btn btn-outline-primary" href="/register" role="button">Sign up</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <main class="form-login  w-100 m-auto">
        </div>
        <form class="needs-validation" action="/registerauth" method="POST" novalidate>
            <h1 class="logo">Knitterverse</h1>
            <h2>Let's get to know each other!</h2>
            <div class="form-main">
                {{ if . }}
                <div class="alert alert-danger w-100" role="alert">
                    {{ . }}
                </div>
                {{end}}
                <div class="form-fields">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="emailUp" name="emailUp" required>
                        <label for="emailUP">Email address</label>
                        <div class="invalid-feedback">
                            Add your email in the format example@example.com
                        </div>
                    </div>

                    <div class="form-floating">
                    <!--pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]+$" -->
                        <input type="text" class="form-control" id="usernameUp" name="usernameUp" required minlength="6" maxlength="20" 
                        title="Must contain at least one letter and one number. Symbols are not allowed.">
                        <label for="usernameUp">Username</label>
                        <div class="invalid-feedback">
                            Username needs to be at least 6 characters long
                        </div>
                    </div>

                    <div class="form-floating">
                    <!-- pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?\d)(?=.*?[\W_]).{8,}$" -->
                        <input type="password" class="form-control password" id="passwordUp" name="passwordUp" required minlength="8" maxlength="20"
                        title="Must contain at least one uppercase letter, one lowercase letter, one number, and one symbol.">
                        <i class='bx bx-hide eye-icon'></i>
                        <label for="passwordUp">Password</label>
                        <div class="invalid-feedback">
                            Password needs to be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary w-100 m-auto" type="submit">Sign up</button>

                <div class="form-link">
                    <span>Already a member? <a href="/login">Log in</a></span>
                </div>
            </div>
        </form>
    </main>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>
{{ end }}